[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf

[*.html]
ij_html_align_attributes = false
ij_html_quote_style = double
ij_html_enforce_quotes = true
ij_html_attribute_wrap = normal

[*.{js, jsx, ts, tsx, vue}]
insert_final_newline = true
trim_trailing_whitespace = true
ij_typescript_spaces_within_brackets = false
ij_typescript_enforce_trailing_comma = whenmultiline
ij_javascript_enforce_trailing_comma = whenmultiline
ij_typescript_spaces_within_object_literal_braces = true
ij_javascript_spaces_within_object_literal_braces = true
ij_typescript_spaces_within_object_type_braces = true
ij_javascript_spaces_within_object_type_braces = true
ij_typescript_use_semicolon_after_statement = true
ij_javascript_use_semicolon_after_statement = true
ij_typescript_spaces_within_imports = true
ij_javascript_spaces_within_imports = true
max_line_length = 100
ij_any_wrap_long_lines = true
ij_any_array_initializer_wrap = normal
ij_any_align_multiline_array_initializer_expression = true
ij_any_array_initializer_right_brace_on_new_line = true
ij_any_array_initializer_new_line_after_left_brace = true
ij_typescript_use_double_quotes = false
ij_typescript_force_quote_style = true
ij_javascript_spaces_within_union_types = true
ij_typescript_spaces_within_union_types = true
ij_typescript_imports_wrap = normal
ij_javascript_imports_wrap = normal
ij_typescript_import_sort_members = true
ij_javascript_import_sort_members = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false
